@import "./mixin";
/*对齐方式*/
.text-left {text-align: left;}
.text-center {text-align: center;}
.text-right {text-align: right;}
.flex-left {display: flex;justify-content:flex-start ;}
.flex-center {display: flex;justify-content:center ;}
.flex-right {display: flex;justify-content:flex-end ;}
.align-center {display: flex;align-items:center ;}
.wrap {flex-wrap: wrap}

/*字体颜色*/
.white{color:#FFF}
.muted{color: $color-muted}
.weak{color: $color-weak}
.primary{color: $color-primary}
.major{color: $color-major}
.danger{color: $color-danger}
.brand{color: $color-brand}

/*背景颜色*/
.bgWhite{background: $color-white}
.bgPrimary{background: $color-primary}
.bgPrimary-darken {background: $color-primary-darken}
.bgGrey{background: $color-grey}
.bgEC{background: $color-ec}
.bgGrey-darken{background: $color-grey-darken}
.bgTrans{background: rgba(0, 0, 0, 0.07)}

.bg-gradual-orange {
  background-image:linear-gradient(45deg, #ff9700, #ed1c24);
  color:#fff;
}
.bg-gradual-red {
  background-image:linear-gradient(45deg, #f43f3b, #ec008c);
  color:#fff;
}
.bg-gradual-green {
  background-image:linear-gradient(45deg, #39b54a, #8dc63f);
  color:#fff;
}
.bg-gradual-blue {
  background-image:linear-gradient(45deg, #0081ff, #1cbbb4);
  color:#fff;
}
.bg-gradual-pink {
  background-image:linear-gradient(45deg, #ec008c, #6739b6);
  color:#fff;
}

.bg-gradual-black {
  background-image:linear-gradient(0deg, #0c0403, #391303);
  color:#fff;
}

.bg-gradual-yellow {
  background-image:linear-gradient(0deg, #ffe88e, #ffffff);
  color:#fff;
}



/*字体大小*/
.xl{font-size: $text-xl}
.xxl{font-size: $text-xxl}
.lg{font-size: $text-lg}
.sm{font-size: $text-sm}
.xs{font-size: $text-xs}
.xxs{font-size: $text-xxs}
.font-weight {font-weight: bold}

/*padding*/
.pd5 {padding: 5px}
.pd10 {padding: 10px}
.pd20 {padding: 20px}
.pd30 {padding: 30px}
.pd35 {padding: 35px}
.pd40 {padding: 40px}
.pl10 {padding-left: 10px}
.pl20 {padding-left: 20px}
.pl30 {padding-left: 30px}
.pl40 {padding-left: 40px}
.plr10 {padding: 0 10px}
.plr20 {padding: 0 20px}
.plr30 {padding: 0 30px}
.pt10 {padding-top: 10px}
.pt20 {padding-top: 20px}
.pt40 {padding-top: 40px}
.ptb20 {padding:20px 0 }
.pr10 {padding-right: 10px}
.pr30 {padding-right: 30px}
.pb10 {padding-bottom: 10px}
.pb20 {padding-bottom: 20px}





/*margin*/
.mt10 {margin-top: 10px}
.mt20 {margin-top: 20px}
.mt30 {margin-top: 30px}
.mt40 {margin-top: 40px}
.mt100 {margin-top: 100px}
.mt64 {margin-top: 64px}
.mt350 {margin-top: 350px}
.mb10 {margin-bottom: 10px}
.mb20 {margin-bottom: 20px}
.mr10 {margin-right: 10px}

/*宽高*/
.wd100 {width: 100%;}
.ht100 {height: 100%}

.lh30{line-height: 30px}

/*定位方式*/
.rel { position: relative}
.abs { position: absolute}
.fixed {position: fixed}

.middle {vertical-align: middle}

.card{border-radius: 4px}

/*删除文字*/
.del {text-decoration:line-through}
.middle {vertical-align: middle}
.underline {text-decoration:underline}

/*小手点击*/
.pointer { cursor: pointer}

/*翘边阴影*/
.shadow-warp {
  position:relative;
  box-shadow:0 0 10px rgba(0, 0, 0, 0.1);
}

/*长阴影*/
.shadow-lg {
  box-shadow:0px 40px 100px 0px rgba(0, 0, 0, 0.07);
}
/*标题左边竖条*/
.title-border-left{border-left: 4px solid $color-primary;}

.border-ec {border: 1px solid $color-ec;}
.border {border: 1px solid $color-ec;}




